#traffic-light{
     text-align: center;
    
    height: 400px;
    width:120px;
    background-color: black;
    border: 3px solid ;


    
}
.red{
   
    height: 133.3px;
    width: 12px;
    border-radius: 50%;
    background-color: red;

}

.yellow{
    height: 133.3px;
    width: 120px;
    border-radius: 50%;
    background-color: yellow;
}
.green{
    height: 133.3px;
    width: 120px;
    border-radius: 50%;
    background-color: green;
}
